<div class="col-md-8">
    <h1><%= @list.title %></h1>
    <small>created <%= time_ago_in_words(@list.created_at) %> ago by <%= @list.user.email %>
    <table class="table table-striped table-hover">
      <thead>
        <th>To-do</th>
        <th>Time remaining</th>
        <th></th>
      </thead>
      <%= render @list.todos %>
    </table>

  <div>
    <% if current_user %>
      <%= render 'todos/form', todo: Todo.new, list: @list %>
    <% end %>
  </div>
</div>

<div class="col-md-4 margin-top-30">
  <%= link_to "Rename List", edit_list_path(@list), class: "btn btn-primary" %>
  <%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this list?'} %>
</div>
